body{
  background-color: darkslateblue;
  font-family:'Courier New', Courier, monospace ; 
  text-align: center;
  font-size: 30px;
  margin: 0px;
}
h2{
  font-size: 20px;
}
p{
  font-size: 40px;
}

.container-imagem-botao {
  display: flex; /* Ativa o modelo de caixa flex */
  flex-direction: column; /* Empilha os itens (imagem e botão) verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
}

button {
  margin-top: 15px;
  background-color: darkslateblue;
  font-size: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}